<!DOCTYPE html>
<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <!--这是我们的View-->
    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <div id="app-8">
        <p>Using mustaches: {{ rawHTML }} </p>
        <p>Using v-html directive: <span v-html="rawHTML"></span></p>
    </div>

    <div id="app-9">
        <p>Original Message: {{ message }}</p>
        <p>Reversed Message: {{ reversedMessage }}</p>
    </div>

    <div id="app-10">
        <p>
            Ask a yes/no question:
            <input v-model="question">
        </p>
        <p>
            <p>{{ answer }}</p>
        </p>
    </div>

    <div id="app-11" class="static" v-bind:class="{active: isActive}">
        <p>
            This may be active
        </p>
    </div>

    <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo</label>
            <input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
            <button>Add</button>
        </form>
        <ul>
            <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)">
            </li>
        </ul>
        <span v-if="invalid_new_todo" color='red'> Check your todo, it's invalid </span>
    </div>

    <div id="blog-post-example">
        <blog-post v-for="post in posts" v-bind:post="post" v-bind:key="post.id">
        </blog-post>
    </div>

</body>
<script>
    // 这是我们的Model
    var exampleData = {
        message: 'Hello World!'
    }

    // 创建一个 Vue 实例或 "ViewModel"
    // 它连接 View 与 Model
    new Vue({
        el: '#app',
        data: exampleData
    })

    var app2 = new Vue({
        el: "#app-2",
        data: {
            message: 'You loaded this page on ' + new Date().toLocaleDateString()
        }
    })

    seen_data = {
        seen: true
    }

    var app3 = new Vue({
        el: "#app-3",
        data: seen_data
    })

    var app4 = new Vue({
        el: "#app-4",
        data: {
            todos: [
                { text: 'Learn Javascript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ]
        }
    })

    var app5 = new Vue({
        el: "#app-5",
        data: {
            message: "Hello Vue.js"
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })

    var app6 = new Vue({
        el: "#app-6",
        data: {
            message: "Hello, Vue!"
        }
    })

    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })

    var app7 = new Vue({
        el: "#app-7",
        data: {
            a: 1,
            groceryList: [
                { id: 0, text: 'Vegetables' },
                { id: 1, text: 'Cheese' },
                { id: 2, text: 'Whatever else humans are supposed to eat' }
            ]
        },
        created: function () {
            console.log('a is : ' + this.a)
        }
    })

    var app8 = new Vue({
        el: "#app-8",
        data: {
            rawHTML: '<span style="color:red">This should be red.</span>'
        }
    })

    var app9 = new Vue({
        el: "#app-9",
        data: {
            message: "Hello World"
        },
        computed: {
            reversedMessage: function () {
                return this.message.split('').reverse().join('')
            }

        }
    })

    var app10 = new Vue({
        el: "#app-10",
        data: {
            question: '',
            answer: 'Waitting for you question..'
        },
        watch: {
            question: function (newQuestion, oldQuestion) {
                this.answer = 'Waitting for you to stop typing'
                this.debouncedGetAnswer()
            }
        },
        created: function () {
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
        },
        methods: {
            getAnswer: function () {
                if (this.question.indexOf('?') === -1) {
                    this.answer = 'Questions normally ends with question mark'
                    return
                }

                this.answer = 'Thinking....'

                var vm = this
                axios.get('https://yesno.wtf/api').then(function (response) {
                    vm.answer = _.capitalize(response.data.answer)
                }).catch(function (error) {
                    vm.answer = 'Error! Can not reach the API. ' + error
                })
            }
        }
    })

    var app11 = new Vue({
        el: "#app-11",
        data: {
            isActive: true
        }
    })

    Vue.component('todo-item', {
        template: '<li>{{ title }} <button v-on:click="$emit(\'remove\')">Remove</button></li>',
        props: ['title']
    })

    var appTodoList = new Vue({
        el: "#todo-list-example",
        data: {
            newTodoText: '',
            todos: [{ id: 1, title: "Todo1" }, { id: 2, title: "Todo2" }, { id: 3, title: "Todo3" }],
            nextTodoId: 4,
            invalid_new_todo: false
        },
        methods: {
            addNewTodo: function () {
                if (this.newTodoText === '') {
                    console.log('invalid todo text: ' + this.newTodoText)
                    this.invalid_new_todo = true
                    return
                }

                this.todos.push({
                    id: this.nextTodoId++,
                    title: this.newTodoText
                })

                this.newTodoText = ''
                this.invalid_new_todo = false
            }
        }
    })

    Vue.component('blog-post', {
        props: ['post'],
        template: `
            <div class="blog-post">
                <h3>{{ post.title }}</h3>
                <div v-html="post.content"></div>
            </div>
        `
    })

    appBlogPost = new Vue({
        el: "#blog-post-example",
        data: {
            posts: [
                { id: 1, title: "My Post 1", content: "This is a good post 1." },
                { id: 2, title: "My Post 2", content: "This is a good post 2." },
                { id: 3, title: "My Post 3", content: "This is a good post 3." }
            ]
        }
    })

</script>

</html>